@keyframes animate{
  0%{
    transform:rotate(0deg);
    background-color:red;
    margin-left:0%;
  }
  20%{
    transform:rotate(72deg);
    background-color:blue;
  }
  40%{
    transform:rotate(144deg);
    background-color:yellow;
  }
  60%{
    transform:rotate(216deg);
    background-color:pink;
  }
  80%{
    transform:rotate(288deg);
    background-color:lime;
  }
  99%{
    transform:rotate(360deg);
    background-color:orange;
  }
  100%{margin-left:80%;}
}
#rotate{
  transform:rotate(25deg);
  background-color:red;
  font-size:20px;
}
#skew{
  transform:skew(1deg,35deg);
  background-color:red;
}
#all{
  transform:rotate(25deg) skew(1deg,35deg);
  background-color:red;
}
#matrix{
  transform:matrix(1, -0.3, 1, 1, -4, 5);
}
#animate{
  animation: animate 10s infinite;
}
#pseudo:hover{
  width:500px;
  height:500px;
  background-color:red;
}